<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />

        <meta name="description" content="<%= description %>">
        <meta property="og:type" content="<%= type %>">
        <meta property="og:title" content="<%= name %>">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:url" content="<%= domain %>">
        <meta property="og:image" content="<%= domain %>/icons/launcher-icon-4x.png">

        <base href="<%= baseUrl %>">

        <title><%= title %></title>

        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="favicon.ico">
    </head>

    <body>
        <div id="page-container">
            <div class="banner">&nbsp;</div>
            <div class="navigation">
                <a href="/" exact class="navigation-button">
                    (<span class="fas fa-home"></span>) Home
                </a>
                <a href="/about" class="navigation-button">
                    (<span class="fas fa-info"></span>) About
                </a>
                <a href="/invalid" class="navigation-button">
                    (<span class="fas fa-times"></span>) Invalid
                </a>
                <div id="pwa-install" class="navigation-button" style="display: none;">
                    (<span class="fas fa-plus"></span>) Install as app
                </div>
            </div>
            <div data-tf-router class="page"></div>
        </div>
    </body>
</html>
